* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #000;
    user-select: none;
}

body, html {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

input, button, textarea {
    outline: none;
    background: none;
    border: none;
}

*::-webkit-scrollbar {
    width: 6px;
}
  
*::-webkit-scrollbar-track {
    background: #f0f0f0;
}
  
*::-webkit-scrollbar-thumb {
    background: #606060;
    border-radius: 10px;
}
  
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#root {
    display: flex;
    flex-direction: row;
    justify-content: center;
}